$icon_folder: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAB1CAYAAADN5fjJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAzklEQVR4nO3bwQqCUBBA0Yz+/5dt1eYRkVfKWZyzUgi5zEJSxm3f99tU96sDPhFXiavEVeIqcZW4anTcYzmf8P9pex2Mnpy4Slwlrhodt96Et7e/usjoyYmrxFXiKnGVuEpcJa4SV4mrxFXiKnGVuEpcJa4SV4mrxFXiKnGVuEpcJa4SV4mrxFXiqtFx69LLUd9sKuZFmtGTE1eJq8RV4ipx1T+2+o9e01b/aeIqcZW46uxWvweckcRV4ipxlbhqdNzZl4c//cJu9ORGxz0BUl8I9T4qXncAAAAASUVORK5CYII=');

#Inspector {
  .field {
    align-items: center;
    background-color: #222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 21px;
    overflow: hidden;
    padding: 1px;
    
    label {
      line-height: normal;
      margin: 0 10px;
      max-width: 180px;
      user-select: none;
      width: fit-content;
      min-width: 20px;
      text-align: center;
    }

    input {
      block-size: 11px;
      flex: 1%;
      margin: 0;
      padding: 4px;
      outline: none;
      &.min {
        height: 11px;
        flex: none;
        width: 30px;
        margin-right: 1px;
      }
      &.color {
        flex: none;
        width: 60px;
      }
    }

    input[type="checkbox"] {
      flex: none;
    }

    input[type="color"] {
      block-size: revert;
      height: 21px;
      padding-block: revert;
      padding: 0;
      margin: 0;
    }

    input[type="number"], input[type="range"] {
      appearance: none;
      height: 11px;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      border: none;
    }

    input[type="range"]::-webkit-slider-thumb {
      appearance: none;
      background-color: #666;
      height: 17px;
      width: 17px;
      transition: 0.2s linear background-color;
      &:hover {
        background-color: #999;
      }
    }

    textarea {
      background-color: #191919;
      font-size: 10px;
    }

    img {
      border: 1px dotted #333;
      cursor: pointer;
      object-fit: contain;
      max-width: 100%;
      min-width: 50px;
      min-height: 30px;
      max-height: 50px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    button {
      background-color: #333;
      border-top: 1px dotted #444;
      height: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      transition: 0.2s background-color linear;
      width: 100%;
      &:hover {
        background-color: #444;
      }
    }

    &.block {
      label {
        display: block;
        line-height: 21px;
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .group {
    background-color: #191919;
    margin: 2px 0;
    h4 {
      display: inline;
      font-weight: bold;
      pointer-events: none;
      width: fit-content;
    }
    .toggleBtn {
      background-color: #191919;
      background-image: $icon_folder;
      background-position: 1px 1px;
      background-repeat: no-repeat;
      background-size: 15px 45px;
      display: inline-block;
      height: 15px;
      opacity: 0.8;
      overflow: hidden;
      margin: 0 0 0 5px;
      padding-left: 20px;
      width: calc(100% - 7px);
      transition: all 0.15s linear;
      &:hover {
        background-color: #222;
        opacity: 1;
      }
    }
    .fieldItems {
      border-top: 1px dotted #333;
      overflow-y: auto;
      user-select: none;
    }
  }
}
