:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

button {
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 150px), -50%);
}
