$padding: 2px;

.multiview {
  display: grid;
  font-family: Roboto Mono, Source Code Pro, Menlo, Courier, monospace;
  font-size: 10px;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 300px;
  bottom: 0;

  .dropdown {
    background-color: #222;
    display: inline-block;
    font-size: 10px;
    padding: $padding;
    text-align: center;
    width: 100px;
  }

  .dropdown-toggle {
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      background-color: #222;
      cursor: pointer;
      padding: $padding;
      transition: 0.2s linear background-color;
      &:hover {
        background-color: #333;
      }
    }
  }

  .cameras {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    width: 100%;
    height: 100%;

    &.single {
      grid-template-columns: repeat(1, 1fr);
    }

    .dropdown {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .CameraWindow {
      border: 1px dotted #333;
      position: relative;
    
      .clickable {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .settings {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}