.multiview {
  display: grid;
  font-family: Roboto Mono, Source Code Pro, Menlo, Courier, monospace;
  font-size: 10px;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  left: 0;
  top: 0;
  right: 300px;
  bottom: 0;
}