@use './theme';

.editor .header .dropdown {
  color: #FFF;
  display: inline-block;
  margin-right: 1px;
  text-align: left;
  height: fit-content;
  min-width: auto;
  width: max-content;

  button {
    backdrop-filter: blur(2px);
    background-color: theme.$BAR_COLOR;
    border: none;
    color: rgba($color: #FFF, $alpha: 0.5);
    font-size: 12px;
    padding: 5px 10px;
    position: relative;
    text-align: left;
    min-width: theme.$ROW_HEIGHT;
    width: 100%;
    height: theme.$BTN_SIZE;
    transition: all 0.2s linear;

    &:hover {
      background-color: theme.$BTN_HOVER;
      color: #FFF;
    }

    &.svg {
      line-height: 0;
      width: theme.$BTN_SIZE;
    }
  }

  p {
    background-color: theme.$BAR_COLOR;
    display: inline-block;
    height: theme.$ROW_HEIGHT;
    margin: 0;
    min-width: theme.$ROW_HEIGHT;
    padding: 5px;
  }

  svg {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  ul {
    list-style: none;
    margin: 0;
    margin-block: 0;
    padding-inline: 0;
    position: absolute;
    width: max-content;

    li {
      border-top: 1px solid theme.$BORDER_COLOR;
      display: block;
      position: relative;

      &.selected button {
        background-color: theme.$BTN_SELECTED;

        &:hover {
          background-color: theme.$BTN_SELECTED_HOVER;
        }
      }
    }
  }

  &.subdropdown {
    min-width: 100%;

    ul {
      border-left: 1px solid theme.$BORDER_COLOR;
      left: 100%;
      top: -1px;
    }
  }
}