@import 'theme';
@import 'debug';
@import 'sceneHierarchy';

.editor {
  font-family: Roboto Mono, Source Code Pro, Menlo, Courier, monospace;
  font-size: 10px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  button {
    background: none;
    border: none;
    color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  header {
    display: inline-block;
    pointer-events: visible;
    position: relative;
    left: 50px;
    top: 12px;
    z-index: 101;
  }

  footer {
    position: absolute;
    right: 5px;
    bottom: 0;
  }
}

@import 'dropdown';
@import 'draggable';

.fsAbsolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.absoluteCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
  visibility: hidden;
}

.hideText {
  text-indent: -9999px;
  white-space: nowrap;
}
